.DS_Store
.idea
.idea/*
.vscode/*

*.pyc
./*/*.pyc
./*/*/*.pyc
./*/*/*/*.pyc
./*/*/*/*/*.pyc
./*/*/*/*/*/*.pyc

*.log

wandb
./*/wandb
./*/*/wandb
./*/*/*/wandb
./*/*/*/*/wandb
./*/*/*/*/*/wandb


*.txt
*.h5

# data
*.rar
*.dat
cifar-10-batches-py
*.tar.gz
*.png
*.zip
*.json

data/cifar10/*-python
data/cifar100/*-python
data/cinic10/

data/MNIST/train
data/MNIST/test
data/shakespeare/train
data/shakespeare/test
data/stackoverflow/datasets

data/edge_case_examples/__MACOSX
data/edge_case_examples/ARDIS
data/edge_case_examples/cretan_costume_imagenet
data/edge_case_examples/southwest_cifar10
data/edge_case_examples/wow_airline

# android
.gradle
fedml_mobile/android/.idea
fedml_mobile/android/app/build
fedml_mobile/android/fedml-iot-sdk/build
fedml_mobile/android/build

mimiconda.sh


data/fednlp/*

*.npz

*.jpg